@import url("header.css");
@import url("form.css");
@import url("tasks.css");
@import url("modal.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightgrey;
}

input, button, textarea {
  outline: none;
}
